.gallery-root {
  text-align: center;
  display: flex;
  flex-wrap:   wrap
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;

  // display: inline-block;
  // width: calc(100% - 10em);
}

.gallery-intro {
  font-size: 15pt;
}
